# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
*.user
.idea
*.cbp

# Google tests
googletest-build/
googletest-download/
googletest-src/
lib/

# Cmake
CMakeCache.txt
CMakeFiles/
cmake-build*
cmake_install.cmake
Makefile
